:host {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  h2 {
    color: var(--main-color);
    margin-bottom: 16px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="text"] {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
  }
  
  .options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  
  .option-item {
    border: 1px solid var(--main-color);
    border-radius: 8px;
    transition: background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 100%;
    width: 100%;
  }
  
  .option-item:hover {
    background-color: var(--highlight-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }
  
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    background-color: var(--highlight-color);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .massive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

.answer-text{
    color: black;
    text-align: center;
}