<div *ngIf="question">
  <h1 style="color:black;">Question {{question.id}}</h1>
  <h2 style="font-weight:bold;">{{ question.question }}</h2>

  <!-- Single Choice -->
  <div *ngIf="question.type === 'single-choice'" class="options-grid">
    <div *ngFor="let option of question.options">
      <input
        type="radio"
        [name]="'q' + question.id"
        [value]="option"
        [(ngModel)]="userAnswer"
        id="{{ 'option-' + question.id + '-' + option }}"
      />
      <label class="option-item button-test" [for]="'option-' + question.id + '-' + option" (click)="playSound()">
        <div class="xs:text-xs text-md xs:px-1 answer-text">{{ option }}</div>
      </label>
    </div>
  </div>

  <!-- Multiple Select -->
  <div *ngIf="question.type === 'multi-select'">
    <div *ngFor="let option of question.options">
      <input
        type="checkbox"
        [value]="option"
        (change)="onCheckboxChange($event)"
        id="{{ 'option-' + question.id + '-' + option }}"
      />
      <label class="option-item my-1" [for]="'option-' + question.id + '-' + option" (click)="playSound()">
        <div class="xs:text-xs text-md xs:px-0 answer-text">{{ option }}</div>
      </label>
    </div>
  </div>

  <!-- Text Input -->
  <div *ngIf="question.type === 'text'">
    <input type="text" [(ngModel)]="userAnswer" />
  </div>
</div>


  <!-- Multiple Select Special -->
  <div *ngIf="question.type === 'massive-multi-select'" class="massive-grid">
    <div *ngFor="let option of question.options">
      <input
        type="checkbox"
        [value]="option"
        (change)="onCheckboxChange($event)"
        id="{{ 'option-' + question.id + '-' + option }}"
      />
      <label class="option-item" [for]="'option-' + question.id + '-' + option" (click)="playSound()">
        <div class="xs:text-xs text-md answer-text">{{ option }}</div>
      </label>
    </div>
  </div>

  <div *ngIf="question.id === 2" class="flex text-center justify-center items-center">
    <a class="text-xs italic underline mt-5" href="https://www.sutdvie.com/startups-and-affiliates">Hint: SUTD VIE startup site!</a>
  </div>
