<div class="h-full w-full flex-col justify-center items-center">
    <div class="px-3 mb-2 text-center welcome-message">Welcome to SUTD Open House!</div>
    <div class="flex justify-center">
        <button class="h-[75vw]+40 w-[75vw] min-w-[250px] min-h-[290px] max-h-[410px] max-w-[370px] my-2 button-54 text-center" role="button" (click)="startQuiz()">
            <img src="assets/qr-code.png" alt="QR Code" class="h-100 w-100 mx-auto">
            <p class="mt-0 mb-2">Start SUTD Trivia!</p>
        </button>
    </div>
</div>

    